/* ====================================================== */
/* =================== Variables CSS ==================== */
/* ====================================================== */

:root {
    --rg-color-default      : #a49e9e;
    --rg-color-link         : #2cbcd6;
    --rg-color-link-hover   : #89deed;
    --rg-color-even         : #f2f2f2;
    --rg-color-odd          : #fafafa; 
}

/* ====================================================== */
/* =================== Styles généraux ================== */
/* ====================================================== */


html {
    font-size : 62.5%;
}

body {
    font-size : 1.6rem;
    font-family: Arial, sans-serif;
    color: var(--rg-color-default,#444);
}

/* ====================================================== */
/* =================== Layout général =================== */
/* ====================================================== */

body {
    min-height : 100vh;
    
    display : flex;
    flex-direction : column;
}

main {
    width : 100%;
    max-width : 1100px;
    padding : 1em 0;
    margin-left : auto;
    margin-right : auto;
}

footer {
    margin : auto 0 0;
}


/* ====================================================== */
/* ====================== Bannière ====================== */
/* ====================================================== */

header {
    display : flex;
    align-items : center;
    flex-wrap : wrap;
}

nav {
    flex : 100%;
    border-bottom : 4px solid var(--rg-color-link);
}

nav ul {
    list-style : none;
    margin : 0;
    padding : 0;
}

nav > ul {
    display : flex;
    justify-content:center;
    gap : 2em;
}

nav li {
    position : relative;
}

nav a + ul {
    
    display : none;
    position: absolute;
    left : 1em; 
    
    background-color : var(--rg-color-link);
    
    white-space: nowrap;
}

nav li:hover ul {
    display : block;
}



/* -- Styles des liens -- */

nav a {
    display : inline-block;
    padding : 1rem;
    text-decoration : none;
    color : var(--rg-color-link-hover);
}

nav > ul > li > a {
    color : var(--rg-color-link);
}

nav > ul > li:first-child > a {
    color : var(--rg-color-default);
}

nav > ul > li:hover > a {
    background-color : var(--rg-color-link);
    color : white;
}

nav ul ul a::before,
nav li li a::before {
   content : '\002794 ';
}




/* ====================================================== */
/* ======================= Footer ======================= */
/* ====================================================== */

footer {
    padding : 2rem;
    background-color: #2cbcd6;
    font-size: .8em;
    text-align: center;
    color : #89deed;
}

footer a {
    color : white
}

footer img {
    width : 50px;
    height : auto;
}

/* ====================================================== */
/* ======================= Table ======================== */
/* ====================================================== */

table {
    border-collapse : collapse;
}

thead, tfoot {
    background-color : var(--rg-color-link);
    color : white;
}

th,td {
    padding : 1rem;
    border : 1px solid var(--rg-color-link);
}

th {
    white-space: nowrap;
    text-align: left;
}

td:first-child {
    white-space: nowrap;
    font-weight: bolder;
}

th:last-child {
    text-align: center;
}

tbody tr:nth-child(even) {
	background-color: var(--rg-color-even);
}

tbody tr:nth-child(odd) {
	background-color: var(--rg-color-odd);
}

td:nth-child(2) {
    white-space: nowrap;
}






/* ====================================================== */
/* ======================= Form ========================= */
/* ====================================================== */

fieldset {
    background-color: var(--rg-color-odd);
    margin-bottom : 1em;
    padding : 1em;
}

legend {
    padding : 0.6em 1em;
    background-color : var(--rg-color-default);
    color : white;
}

fieldset:first-child {
    background-color: var(--rg-color-even);
}

fieldset:first-child > legend {
    background-color: var(--rg-color-link);
}


.form-group {
    margin-bottom : 1em;
}

label {
    cursor : pointer;
}

[type=text],
[type=email],
textarea,
select {
    padding : 1rem;
    background-color : var(--rg-color-odd);
    border : 1px solid var(--rg-color-default);
}

[type=text]:focus,
[type=email]:focus,
textarea:focus {
    background-color : white;
} 

[type=submit],
[type=reset] {
    border : none;
    padding : 1em;
    color : white;
    cursor : pointer;
}

[type=submit] {
    background-color : var(--rg-color-link);
}

[type=reset] {
    background-color : var(--rg-color-default);
}

[type=submit]:hover,
[type=submit]:focus,
[type=submit]:active {
    background-color : var(--rg-color-link-hover);
}